* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #ff9a9e, #fad0c4); */
    background-image: url(download.jpg);
    background-size: cover;
}

h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
    background: rgb(146, 135, 148);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 450px;
}

label {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1rem;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #e85a50;
}

h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
